* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #333;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    text-align: center;
}

.col{
    text-align: center;
}

#amount{
    margin-right: 80px;
}

.deposit{
    background-color: green;
    text-align: center;
}

.withdrawal{
    background-color: red;
}