.container{
    width: 400px;
    height: 700px;
    border: 1px solid black;
  
}

.row{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 20 20px;
}

.item{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: auto;
}

.active{
    background-color: plum;
}