*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-up{
    text-align: center;
    margin-top: 20px;
}

.container{
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.items{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: auto;
}

.item:hover {
    background-color: limegreen;
}